<!DOCTYPE html>
<html layout:decorator="layout/masterlayout"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
	<th:block layout:fragment="header">
		<div class="col-xs-4 text-left">
			<h1>SERVICES</h1>
		</div><br></br>
	</th:block>
    <th:block layout:fragment="content">

    	<div class="col-xs-4 text-left">
    		<h3>This page contains services that will be given by a specific car rental company that is
    			going to be using the eCarRent Software System.</h3>
    	</div>

    </th:block>
    <th:block layout:fragment="footer"></th:block>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html layout:decorator="layout/masterlayout"-->
<!--	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">-->
<!--<body>-->
<!--<th:block layout:fragment="header">-->
<!--	<div class="col-xs-4 text-left">-->
<!--		<h1>SERVICES</h1>-->
<!--	</div><br></br>-->
<!--</th:block>-->
<!--<th:block layout:fragment="content">-->

<!--	<div class="col-xs-4 text-left">-->
<!--		<h3>This page contains information services a specific car rental company that is going to be using the eCarRent Software System.</h3>-->
<!--	</div>-->

<!--</th:block>-->
<!--<th:block layout:fragment="footer"></th:block>-->
<!--</body>-->
<!--</html>-->